/*--------------------------------------------------------------
# Chefs Section
--------------------------------------------------------------*/
@keyframes gradientAnim {
  to {
    background-position: 100% top;
  }
}

.chefs .chef-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    transition: 0.3s;
  }
  
  .chefs .chef-member .member-img {
    position: relative;
    overflow: hidden;
  }


  
  .chefs .chef-member .member-img:after {
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
  }
  
  .chefs .chef-member .member-info {
    padding: 10px 15px 20px 15px;
  }
  
  .chefs .chef-member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--color-secondary);
  }
  
  .chefs .chef-member .member-info span {
    display: block;
    font-size: 20px bold;
    font-weight: 400;
    color: rgba(33, 37, 41, 0.4);
  }
  
  .chefs .chef-member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.7);
  }
  
  .chefs .chef-member:hover {
    transform: scale(1.037);
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);
  }
  
  .chefs .chef-member:hover .social {
    right: 8px;
    opacity: 1;
  }