.carousel-indicators button.thumbnail {
   
    width: 33px;
  }
  .carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
  }
  .carousel-indicators {
    position: static;
  }
  @media screen and (min-width: 992px) {
    .carousel {
      
      max-width: 60%;
      margin: 0 auto;
    }
  }